<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.abmulani.importanthadees">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission
        android:name="in.abmulani.importanthadees.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="in.abmulani.importanthadees.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".BaseApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeScreenActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="38cfa6c6c4c701db148187e11eefa4a964c1af8d"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <receiver
            android:name=".utils.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.citruspay.LOCAL_NOTIFICATION" />

                <category android:name="com.citruspay" />
            </intent-filter>
        </receiver>

        <service android:name=".utils.GcmIntentService" />

        <meta-data
            android:name="DATABASE"
            android:value="hadees_important.db"/>
        <meta-data
            android:name="VERSION"
            android:value="1"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="in.abmulani.importanthadees.database"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAdOSIYXFHnPwWe5o-jddKeC6cCYbYfmEY"/>

    </application>

</manifest>
